In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/eshanakshata/Desktop/LabTAT.csv')

In [3]:
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [4]:
import numpy as np
from scipy import stats

In [5]:
Lab_1 = df['Laboratory 1']
Lab_2 = df['Laboratory 2']
Lab_3 = df['Laboratory 3']
Lab_4 = df['Laboratory 4']

In [7]:
f_stat, p_value = stats.f_oneway(Lab_1,Lab_2,Lab_3,Lab_4)

In [8]:
#significance level
alpha = 0.05

In [9]:
#results

print("One - Way Annova Test Results:")
print("------------------------------")
print(f"F-statistic:{f_stat}")
print(f"P-value:{p_value}")
print("-----------------------")

if p_value < alpha:
    print("Conclusion: Reject the null hypothesis")
    print("There is a significant difference in average TAT among the different laboratories.")
else:
    print("Conclusion: Fail to reject the null hypothesis")
    print("There is no significant difference in average TAT among the different laboratories.")

One - Way Annova Test Results:
------------------------------
F-statistic:118.70421654401437
P-value:2.1156708949992414e-57
-----------------------
Conclusion: Reject the null hypothesis
There is a significant difference in average TAT among the different laboratories.